.root {
    -fx-background-image: url("/images/smile.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    background-image: url("/images/smile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.label {
    -fx-text-fill: red;
}